/* Code for Seoul Custom CSS */

a {
  color: #ff4040;
}

a:hover, a:active {
  color: #d73232;
}

.btn-success {
  background-color: #ff4040;
  border-color: #ff4040;
}

.btn-success:hover {
  background-color: #d73232;
  border-color: #d73232;
}

.jumbotron {
  font-size: 18px;
}

@media(min-width: 768px) {
  .container .jumbotron {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.people {
  text-align: center;
  padding-top: 10px;
}

.people img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.people h3 span {
  font-size: 15px;
}

.people p:nth-child(3) {
  font-size: 14px;
}

.people p:last-child {
  text-align: left;
}

/* Space out content a bit */
.pull-right {
  margin-top: 15px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #ff4040;
}

.dl-horizontal dt {
  width: 120px;
}

.dl-horizontal dd {
  margin-left: 130px;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 17px;
}

.contributors img {
  width: 50px;
}

.contributor-owner img {
  border: 1px solid #428bca;
}

.sponsors img {
  padding: 10px 30px 10px 0;
}

.label:hover { text-decoration: none; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nowrap { white-space:nowrap; }

#recent-event { margin: 10px 0 0 0; }

.api-title { width: 30%; }

.thumbnail {margin-bottom: 5px;}

/* Bars */
.bar {
  position: relative;
  width: 4px;
  height: 50px;
  margin: 10px 1px 0 1px;
  float: left;
}
.bar span {
    border-style: solid;
    border-width: 0 2px;
    display: block;
    width: 1px;
    margin: 0 1px;
    text-indent: -5000px;
    background: none repeat scroll 0 0 #95A5A6;
    border-color: #95A5A6;
    position: absolute;
    bottom: 0;
}

.project-needs { margin-top: 20px;}