/* default */
h1 {
  font-size: 35px;
}

ul, ol {
    margin-left: 0px;
}

li {
  list-style: none;
}

section {
  clear: both;
}

.row {
  margin-bottom: $spacing-unit;
}

.row:after, .row:before {
  display: table;
  clear: both;
  content: " ";
  margin-top: 5px;
  margin-bottom: 5px;
}

/* index */
.home {
  margin-top: -60px;
}
.home .row {
  margin-top: 30px;
}

.home .more_info {
  font-size: 12px;
  font-style: italic;
}


/* index - introduce */

.home .introduce {
  background: url(/img/banner.jpg) no-repeat scroll center center / cover transparent;
  color: #cccccc;
  height: 600px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  @include media-query($on-palm) {
    height: 600px;
  }
}

.home .introduce h1 {
  font-size: 45px;
  @include media-query($on-palm) {
    font-size: 35px;
  }
}

.home .introduce .wrapper {
  width: 1100px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 40px 0;
  @include media-query($on-palm) {
    width: 100%;
  }
}

.home .introduce .logo {
  text-align: center;
}

.home .introduce .description {
  text-align: center;

  h1, p {
    text-align: left;
  }

  button {
    color: white;
    background: transparent;
  }
}



/* index - projects, events */

.projects h4 {
  padding-left: 15px;
}

.projects .description {
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

/* index - partners */

.group {
  text-align: center;
   @include media-query($on-palm) {
    margin-bottom: 20px;
  }
}

.group img {
  width: 200px;
}


/* index - pictures */

.pictures {
  text-align: center;
}

.pictures .owl-item img {
  width: 100%;
}

/* about */


/* member */
.member {
  border-radius: 0.125rem;
  margin: 3.75rem 0px 1rem;
  padding: 3.75rem 0px 0px;
  border: 1px solid rgba(153, 149, 149, 0.3);
  background-image: none;
  position: relative;
  text-align: center;
  min-height: 280px;
}



.member .name {
  font-size: 2.375rem;
  margin-bottom: 0.25rem;
  font-family: "Interstate","Gotham A","Gotham B","Open Sans Regular","Verdana","Helvetica","Arial";
  font-weight: 700;
  font-style: normal;
}

.member .role {
  font-size: 1.075rem;
}

.member .interest {
  font-size: 1.275rem;
  text-align: center;
  padding: 0px 0.5rem;
  line-height: 1.3125rem;
}

.member .introduce {
  font-size: 1.275rem;
  text-align: left;
  padding: 0px 1.3rem;
  line-height: 1.3125rem;
}

.member .list-social {
  min-height: 30px;
  text-align: center;
  display: table;
  width: 100%;
  color: #CF1B41;
  font-family: "Interstate","Gotham A","Gotham B","Open Sans Regular","Verdana","Helvetica","Arial";
  font-weight: 700;
  font-style: normal;
  border-bottom: medium none;
  padding: 0px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  background: none repeat scroll 0% 0% rgba(229, 229, 229, 0.6);
  padding: 0.625rem 0px 0.1875rem;
  margin: 0px;
}


.list-social li {
  background-image: url('/img/sns.svg');
  background-size: 350px auto;
  background-position: 5px -23px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0px;
  text-align: center;

}

.list-social a, .list-social a:link, .list-social a:visited, .list-social a:hover, .list-social a:focus, .list-social a:active {
  color: #CF1B41;
  font-family: "Interstate","Gotham A","Gotham B","Open Sans Regular","Verdana","Helvetica","Arial";
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  border-bottom: medium none;
  padding: 0px;
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 35px;
  height: 25px;
  display: block;
}

.list-social .social-website {
  background-position: 7px -22px;
}

.list-social .social-linkedin {
  background-position: -204px -38px;
}

.list-social .social-twitter {
  background-position: -206px -23px;
}

.list-social .social-github {
  background-position: -134px -23px;
}

.list-social .social-facebook {
  background-position: -322px -23px;
}

.layout-crotchet {
  width: 23%;
  float: left;
  clear: none;
  margin: 0px;
  @include media-query($on-palm) {
    width: 100%;
  }
}

.layout-crotchet + .layout-crotchet {
    margin-left: 2%;
}

.layout-crotchet:nth-of-type(4n+1) {
  margin-left: 0;
  clear: both;
}

.member img {
  border: 6px solid #FFF;
  height: 80px;
  left: 50%;
  margin-left: -46px;
  position: absolute;
  top: -45px;
  width: 80px;
  border-radius: 100px;
}


/* event */

table {
  border-collapse: collapse;
  border-spacing: 0px;
}
.nowrap {
  white-space: nowrap;
}

/* contact */

.contact {
  display: block;
  width: 100%;
  margin: 3em 0;
  text-align: center;
  li {
    margin: 1em 0;
  }
}

a.btn.btn-danger {
  color: #fff;
}

.finder_icon {
  background-image: url(https://slack.global.ssl.fastly.net/6b25/img/finder_icon@2x.png);
  background-size: 100%;
}

.platform_icon {
  width: 108px;
  height: 116px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.chrome_icon {
  background-image:url(http://slack.global.ssl.fastly.net/272a/img/chrome_icon@2x.png);
}

/* youtue video */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn {
  color: #31708f;
  font-weight: bold;
  -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
  -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
  -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
  -o-transition: background .2s ease-in-out, border .2s ease-in-out;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.btn-result {
  color: #fff !important;
  width: 100%;
  padding: 20px 0;
  font-size: 160%;
  margin-bottom: 15px;
}


.project .img-thumbnail {
  margin-bottom: 15px;
}