---
layout: default
---

<div class="container">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>

  <article class="page-content row project">
    <div class="col-xs-8 contents">
      {% if page.banner %}<img class="img-thumbnail" src="{{ page.banner }}" />{% endif %}
      {{ content }}
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">참여하기</h3>
        </div>
        <div class="panel-body">
        {% if page.website %}
          <a target="_blank" href="{{ page.website }}" class="btn btn-primary btn-result">웹사이트</a>
        {% endif %}

          <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
          {% if page.documents %}
            <a target="_blank" href="{{ page.documents }}" class="btn btn-default btn-documents">문서</a>
          {% endif %}
          {% if page.github %}
            <a target="_blank" href="https://github.com/codeforseoul/{{ page.github }}" class="btn btn-default btn-github">깃헙</a>
          {% endif %}
          {% if page.slack %}
            <a target="_blank" href="https://codeforseoul.slack.com/messages/{{ page.slack }}" class="btn btn-default btn-slack">슬랙</a>
          {% endif %}
          </div>
        </div>
  
      </div>

        <!-- <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">팀 </h3>
          </div>
          <div class="panel-body">
            {{ page.team }}
            {% if page.team_photo %}
            <p class="thumbnail"><img src="{{ page.team_photo }}" /></p>
            {% endif %}
          </div>
        </div> -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><a href="/projects">프로젝트</a></h3>
        </div>
        <div class="panel-body">
          <ul>
          {% for project in site.projects %}
            <li{% if project.url == page.url %} class="active"{% endif %}>{% if project.url != page.url %}<a href="{{ project.url }}">{% endif %}{{ project.title }}{% if project.url != page.url %}</a>{% endif %}</li>
          {% endfor %}
          <ul>
        </div>
      </div>

    </div>
  </article>

</div>
